body {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-size: 26px;
}

.form-wrp {
  text-align: center;
  margin: 20px 0 0 0;
}

.input-group {
  margin: 0 auto;
  justify-content: center;
  padding: 10px 20px;
  max-width: 500px;
}

.btn {
  margin: 20px 0 0 0;
}